<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Xác thực tài khoản</title>
  </head>
  <body>
    <h2>Chào {{fullname}},</h2>
    <p>Hãy nhấn vào link bên dưới để xác thực tài khoản:</p>
    <a href="{{verifyUrl}}">Xác thực Email</a>
    <p>Nếu bạn không yêu cầu, hãy bỏ qua email này.</p>
  </body>
</html>
